body {
    font-family: 'Inter';
    background: #7F898C;
    
}
  
.conteudo {
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    width: 328.88px;
    background: #7F898C;
    border-radius: 10px;
    margin: 0;
}

.mochila {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    
}

.img-vacation{
    width: 60%;
    border-radius: 18px;
    padding: 4%;
    
}

.adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    gap: 5px;
    
}

.input {
    width: 267.02px;
    height: 23px;
    background: #FFFAFA;
    border-radius: 5px;
    border-style: none;
}

.adicionar label {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 11px;
    color: #FFFFFF;
}

.cadastrar {
    background: #1b1a1a;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    height: 25px;
    margin: 3% 0 4% 0;
    width: 167px;
    font-size: 15px;

}

.titulo{
    margin: 2% 0 0 0;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
}

.lista {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5% 0;
    padding: 1% 0;
    width: 328.88px;
}

.item {
    align-items: center;
    background: #FFFAFA;
    border-radius: 5px;
    display: flex;
    height: 23px;
    gap: 5px;
    margin: 3% 0;
    width: 267.02px;
    text-align: center;
    color: #000000;
}

.item strong {
    margin: 0 0 0 4%;
    border-radius: 50%;
    font-weight: 400;
    width: 18px;
    height: 18px;
    background: #161515;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;
}

footer {
    bottom: 0;
    color: #FFF;
    font-size: 13px;
    line-height: 30px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer a{
    text-decoration: none;
}

@media (min-width: 1280px) {

    body{
        margin: 0 5%;
    }
    
    .conteudo {
        align-items: center;
        display: flex;
        flex-wrap:nowrap;
        margin: 5% 0;
        width: auto;
    }

    .principal {
        justify-content: center;
        padding: 0 3%;
        width: auto;

    }

    .img-vacation{
        width: 430px;
        height: 419px;
    }

    .input {
        width: 497px;
        height: 42px;
    }
    
    .adicionar label {
        line-height: 24px;
        font-size: 20px;
    }

    .cadastrar {
        width: 186px;
        height: 63px;
        font-size: 24px;
    }        
    
    .titulo{
        font-size: 24px;
        line-height: 20px;
        margin: 0;
    }
    
    .lista {
        margin: 0;
        padding: 0 3%;
        width: 100%;
    }

    .item {
        height: 52px;
        width: 586px;
        font-size: 22px;
    }
    
    .item strong {
        width: 41.66px;
        height: 43.07px;
        font-size: 20px;
        line-height: 41px;
    }

    footer {
        font-size: 18px;
        line-height: 25px;
    }
    
  }


