body {
    font-family: 'Inter';
    background: #7F898C;
    
}

.conteudo {
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    width: 328.88px;
    background: #7F898C;
    border-radius: 10px;
    margin: 0;
}

.mochila {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    
}

.img-vacation{
    width: 60%;
    border-radius: 18px;
    padding: 4%;
    
}

.adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    gap: 5px;
    
}

.input {
    width: 267.02px;
    height: 23px;
    background: #FFFAFA;
    border-radius: 5px;
    border-style: none;
}

.adicionar label {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 11px;
    color: #FFFFFF;
}

.cadastrar {
    background: #1b1a1a;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    height: 25px;
    margin: 3% 0 4% 0;
    width: 167px;
    font-size: 15px;

}

.titulo{
    margin: 5% 0 0 0;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
}

.lista {
    align-items: center;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    height: 289px;
    margin: 5% 0;
    padding: 1% 0;
    width: 328.88px;
}

.item {
    align-items: center;
    background: #C8C4C4;
    border-radius: 5px;
    display: flex;
    height: 23px;
    gap: 5px;
    margin: 3% 0;
    width: 221px;
    text-align: center;
    color: #000000;
}

.item strong {
    margin: 0 0 0 4%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 400;
    width: 18px;
    height: 18px;
    background: #161515;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;
}

footer {
    text-align: center;
    font-size: 13px;
    text-align: center;
    padding: 20px 0;
}
footer a{
    text-decoration: none;
}

