body {
    font-family: 'Inter';
    background: #edf0f0;
}

.conteudo {
    background: #FFFFFF;
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 328.88px;
    background: #7F898C;
    border-radius: 10px;
    margin: 0;
}

.mochila {
    display: flex;
    justify-content: center;
    
}

.img-vacation{
    width: 60%;
    border-radius: 18px;
    padding: 4%;
    
}

.adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    gap: 5px;
    
}

.input {
    width: 267.02px;
    height: 23px;
    background: #FFFAFA;
    border-radius: 5px;
    border-style: none;
}

.adicionar label {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 8px;
    color: #FFFFFF;

}

.cadastrar {
    width: 167px;
    height: 25px;
    left: 104px;
    top: 314px;
    background: #1b1a1a;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    color: #FFFFFF;
}

.lista {
    margin: 0;
    padding: 1%;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 400;
}

